
 

  @media only screen and (min-width: 1000px) {
    .clanusers_col-lg-custom {
        width: 30.5rem;
    }
  }

  @media only screen and (min-width: 1350px) {
    .clanusers_col-lg-custom {
        width: 37.5rem;
    }
  }

  .clanuser:hover {
    background-color: #2f3541;
    cursor: pointer;
  }

  .clanUserImgContainer {
    transition: opacity 0.15s ease-in-out;
  }

  .clanUserImgContainer img {
    transition: transform 0.15s ease-in-out;
    transform: scale(1);
    will-change: transform;
  }
  .clanuser:hover .clanUserImgContainer img {
    transform: scale(1.05);
  }

#clans_tbody tr, #clans_tbody th {
  border-style: none;
  border: none;
}

.hoverMain:hover {
  color: #dd163b;
  cursor: pointer;
}

.hoverMain:active {
  color: #ff4466;
}