.myProfileLabel {
    font-size: 1.20rem;
    font-family: "Montserrat", sans-serif;
    font-weight:500;
    color: #fff;
    text-transform: uppercase;
    

}

.myProfileData {
    font-size: 1.20rem;
    font-weight: bold;
}

hr {
    border-top: 0.5px solid #dd163b;
    opacity: 60%;
}