@media screen and (min-width: 1000px) {
  .col-lg-custom {
    width: 13rem;
  }
}

@media screen and (min-width: 720px) {
  .col-md-custom {
    width: 17rem
  }
}

@media screen and (min-width: 768px) {
  .col-md-custom {
    width: 13rem
  }
}