.nostyle-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.nostyle-button:hover {
    background: none;
    color: #c41536;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition: 0.3s all;
}

.rotate-180 {
    transform: rotate(180deg);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.closebutton {
    float: right;
}

.normal-link {
    text-decoration: none;
}

.normal-link:hover {
    text-decoration: underline;
}